<!DOCTYPE html>
<html>
  <head>
    <title>VS code</title>
    <link rel="shortcut icon" href="/images/pngwing.com.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="main">
      <div id="home">
        <div class="overlay">
          <form action="/rename">
            <input type="text" name="newname" id="rename" >
            <input type="submit" value="update">
            <i class="ri-close-line"></i>
          </form>
        </div>
        <div class="left">
          <div class="head">
            <h2><a href="/"><%= folder%></a></h2>
            <div class="icons">
              <i class="createfile ri-file-add-line"></i>
              <i class="createfolder ri-folder-add-line"></i>
              <a href="/back"><i class="ri-restart-line"></i></a>
            </div>
          </div>
          <div class="files">
            <form id="Newcreatefile" action="/rename" method="get">
                  <i class="ri-file-line "  ></i>
              <input  type="text" placeholder="Filename" name="newfile">
            </form>
            <form id="Newcreatefolder" action="/newfolder" method="get">
                  <i class="ri-folder-line"></i>
              <input  type="text" placeholder="foldername" name="newfolder">
            </form>
            <% files.forEach(function(file){%>
              <%if (file.isDirectory()){%>
                <div class="file folder">
                  <div class="filename">
                    <i class="ri-folder-line"></i>
                    <h4><a href="/folder/<%=file.name%>"><%= file.name%></a></h4>
                    <%}else{%>
                <div class="file">
                  <div class="filename">
                    <i class="ri-file-line"></i>
                    <h4><a href="/file/<%=file.name%>"><%= file.name%></a></h4>
                    <%}%>
                </div>
                <div class="icons">
                  <i class="ri-pencil-line " id="renamepen" data-filename = "<%= file.name %>" ></i>
                  <%if (file.isDirectory()){%>
                    <a href="/deletefolder/<%=file.name%>"><i class="ri-delete-bin-line"></i></a>
                    <%}else{%>
                      <a href="/deletefile/<%=file.name%>"><i class="ri-delete-bin-line"></i></a>
                    <%}%>
                </div>
              </div>
            <% }) %>
            
          </div>
        </div>
        <div class="right">
            <div id="nav">
                <div class="tab">
                    <h4><%= filename %></h4>
                    <a href="/"><i class="ri-close-circle-fill"></i></a>
                </div>
            </div>
          <img src="/images/pngwing.com.png" alt="">
            <form method="post" action="/file/<%=filename%>/updatefile">
              <textarea name="filedatas" ><%= filedata %></textarea>
              <input id="submit" type="submit">
            </form>
        </div>
      </div>
    </div>




    <script src="/javascripts/script.js"></script>
  </body>
</html>
